In [3]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [6]:
pd.json_normalize(data,'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [8]:
pd.json_normalize(data,'counties',['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [9]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [ ]:
# Find the 10 countries with most projects

In [12]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [14]:
# load as Pandas dataframe
json_df = pd.read_json('data/world_bank_projects.json')
json_df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [16]:
json_df.columns

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

In [17]:
json_df.shape

(500, 50)

In [18]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sector                    500 non-null    object
 1   supplementprojectflg      498 non-null    object
 2   projectfinancialtype      500 non-null    object
 3   prodline                  500 non-null    object
 4   mjtheme                   491 non-null    object
 5   idacommamt                500 non-null    int64
 6   impagency                 472 non-null    object
 7   project_name              500 non-null    object
 8   mjthemecode               500 non-null    object
 9   closingdate               370 non-null    object
 10  totalcommamt              500 non-null    int64
 11  id                        500 non-null    object
 12  mjsector_namecode         500 non-null    object
 13  docty                     446 non-null    object
 14  sector1                   500 non-null    object
 15  lendinginstr              495 non-null    object
 16  countrycode               500 non-null    object
 17  sector2                   380 non-null    object
 18  totalamt                  500 non-null    int64
 19  mjtheme_namecode          500 non-null    object
 20  boardapprovaldate         500 non-null    object
 21  countryshortname          500 non-null    object
 22  sector4                   174 non-null    object
 23  prodlinetext              500 non-null    object
 24  productlinetype           500 non-null    object
 25  regionname                500 non-null    object
 26  status                    500 non-null    object
 27  country_namecode          500 non-null    object
 28  envassesmentcategorycode  430 non-null    object
 29  project_abstract          362 non-null    object
 30  approvalfy                500 non-null    int64
 31  projectdocs               446 non-null    object
 32  lendprojectcost           500 non-null    int64
 33  lendinginstrtype          495 non-null    object
 34  theme1                    500 non-null    object
 35  grantamt                  500 non-null    int64
 36  themecode                 491 non-null    object
 37  borrower                  485 non-null    object
 38  sectorcode                500 non-null    object
 39  sector3                   265 non-null    object
 40  majorsector_percent       500 non-null    object
 41  board_approval_month      500 non-null    object
 42  theme_namecode            491 non-null    object
 43  countryname               500 non-null    object
 44  url                       500 non-null    object
 45  source                    500 non-null    object
 46  projectstatusdisplay      500 non-null    object
 47  ibrdcommamt               500 non-null    int64
 48  sector_namecode           500 non-null    object
 49  _id                       500 non-null    object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [20]:
json_df.countryname.head()

0    Federal Democratic Republic of Ethiopia
1                        Republic of Tunisia
2                                     Tuvalu
3                          Republic of Yemen
4                         Kingdom of Lesotho
Name: countryname, dtype: object

In [21]:
json_df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [38]:
json_df.countryname.value_counts(dropna=False).head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [176]:
#Find the top 10 major project themes (using column 'mjtheme_namecode')

In [41]:
type(json_df['mjtheme_namecode'])

pandas.core.series.Series

In [42]:
json_df['mjtheme_namecode']

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
                             ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object

In [47]:
json_df.index

RangeIndex(start=0, stop=500, step=1)

In [49]:
json_df['mjtheme_namecode'][0][0]

{'code': '8', 'name': 'Human development'}

In [54]:
len(json_df['mjtheme_namecode'][0])

2

In [59]:
dict_name={}
for j in range(500):
    for i in range(len(json_df['mjtheme_namecode'][j])):
        dict_name[j]=json_df['mjtheme_namecode'][j][i]
print(dict_name)

{0: {'code': '11', 'name': ''}, 1: {'code': '6', 'name': 'Social protection and risk management'}, 2: {'code': '6', 'name': 'Social protection and risk management'}, 3: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 4: {'code': '4', 'name': 'Financial and private sector development'}, 5: {'code': '6', 'name': ''}, 6: {'code': '4', 'name': 'Financial and private sector development'}, 7: {'code': '8', 'name': ''}, 8: {'code': '7', 'name': ''}, 9: {'code': '2', 'name': 'Public sector governance'}, 10: {'code': '2', 'name': ''}, 11: {'code': '11', 'name': 'Environment and natural resources management'}, 12: {'code': '4', 'name': ''}, 13: {'code': '10', 'name': 'Rural development'}, 14: {'code': '6', 'name': 'Social protection and risk management'}, 15: {'code': '5', 'name': 'Trade and integration'}, 16: {'code': '2', 'name': ''}, 17: {'code': '7', 'name': ''}, 18: {'code': '8', 'name': 'Human development'}, 19: {'code': '2', 'name': 'Public sector governance'}, 20: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 21: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 22: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 23: {'code': '8', 'name': 'Human development'}, 24: {'code': '6', 'name': 'Social protection and risk management'}, 25: {'code': '11', 'name': 'Environment and natural resources management'}, 26: {'code': '8', 'name': 'Human development'}, 27: {'code': '6', 'name': 'Social protection and risk management'}, 28: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 29: {'code': '11', 'name': 'Environment and natural resources management'}, 30: {'code': '4', 'name': ''}, 31: {'code': '11', 'name': 'Environment and natural resources management'}, 32: {'code': '4', 'name': 'Financial and private sector development'}, 33: {'code': '4', 'name': 'Financial and private sector development'}, 34: {'code': '5', 'name': 'Trade and integration'}, 35: {'code': '4', 'name': 'Financial and private sector development'}, 36: {'code': '11', 'name': ''}, 37: {'code': '7', 'name': ''}, 38: {'code': '11', 'name': 'Environment and natural resources management'}, 39: {'code': '4', 'name': ''}, 40: {'code': '11', 'name': 'Environment and natural resources management'}, 41: {'code': '8', 'name': 'Human development'}, 42: {'code': '2', 'name': 'Public sector governance'}, 43: {'code': '8', 'name': ''}, 44: {'code': '7', 'name': ''}, 45: {'code': '10', 'name': ''}, 46: {'code': '4', 'name': 'Financial and private sector development'}, 47: {'code': '11', 'name': ''}, 48: {'code': '4', 'name': 'Financial and private sector development'}, 49: {'code': '2', 'name': 'Public sector governance'}, 50: {'code': '4', 'name': ''}, 51: {'code': '11', 'name': 'Environment and natural resources management'}, 52: {'code': '11', 'name': 'Environment and natural resources management'}, 53: {'code': '2', 'name': 'Public sector governance'}, 54: {'code': '8', 'name': 'Human development'}, 55: {'code': '11', 'name': 'Environment and natural resources management'}, 56: {'code': '4', 'name': 'Financial and private sector development'}, 57: {'code': '10', 'name': 'Rural development'}, 58: {'code': '11', 'name': 'Environment and natural resources management'}, 59: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 60: {'code': '10', 'name': ''}, 61: {'code': '10', 'name': 'Rural development'}, 62: {'code': '4', 'name': ''}, 63: {'code': '2', 'name': ''}, 64: {'code': '2', 'name': 'Public sector governance'}, 65: {'code': '5', 'name': 'Trade and integration'}, 66: {'code': '11', 'name': 'Environment and natural resources management'}, 67: {'code': '7', 'name': ''}, 68: {'code': '11', 'name': ''}, 69: {'code': '6', 'name': 'Social protection and risk management'}, 70: {'code': '8', 'name': 'Human development'}, 71: {'code': '10', 'name': 'Rural development'}, 72: {'code': '4', 'name': ''}, 73: {'code': '4', 'name': 'Financial and private sector development'}, 74: {'code': '5', 'name': ''}, 75: {'code': '8', 'name': 'Human development'}, 76: {'code': '4', 'name': 'Financial and private sector development'}, 77: {'code': '11', 'name': ''}, 78: {'code': '1', 'name': ''}, 79: {'code': '6', 'name': 'Social protection and risk management'}, 80: {'code': '10', 'name': ''}, 81: {'code': '1', 'name': 'Economic management'}, 82: {'code': '1', 'name': 'Economic management'}, 83: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 84: {'code': '8', 'name': 'Human development'}, 85: {'code': '4', 'name': ''}, 86: {'code': '6', 'name': ''}, 87: {'code': '11', 'name': ''}, 88: {'code': '4', 'name': ''}, 89: {'code': '8', 'name': 'Human development'}, 90: {'code': '8', 'name': ''}, 91: {'code': '11', 'name': ''}, 92: {'code': '4', 'name': 'Financial and private sector development'}, 93: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 94: {'code': '6', 'name': 'Social protection and risk management'}, 95: {'code': '4', 'name': 'Financial and private sector development'}, 96: {'code': '10', 'name': 'Rural development'}, 97: {'code': '10', 'name': 'Rural development'}, 98: {'code': '5', 'name': 'Trade and integration'}, 99: {'code': '10', 'name': 'Rural development'}, 100: {'code': '10', 'name': 'Rural development'}, 101: {'code': '10', 'name': ''}, 102: {'code': '2', 'name': ''}, 103: {'code': '11', 'name': ''}, 104: {'code': '6', 'name': 'Social protection and risk management'}, 105: {'code': '11', 'name': 'Environment and natural resources management'}, 106: {'code': '5', 'name': 'Trade and integration'}, 107: {'code': '2', 'name': 'Public sector governance'}, 108: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 109: {'code': '2', 'name': ''}, 110: {'code': '2', 'name': 'Public sector governance'}, 111: {'code': '2', 'name': 'Public sector governance'}, 112: {'code': '6', 'name': 'Social protection and risk management'}, 113: {'code': '8', 'name': 'Human development'}, 114: {'code': '5', 'name': 'Trade and integration'}, 115: {'code': '9', 'name': 'Urban development'}, 116: {'code': '6', 'name': 'Social protection and risk management'}, 117: {'code': '8', 'name': 'Human development'}, 118: {'code': '6', 'name': 'Social protection and risk management'}, 119: {'code': '6', 'name': 'Social protection and risk management'}, 120: {'code': '2', 'name': ''}, 121: {'code': '9', 'name': ''}, 122: {'code': '10', 'name': 'Rural development'}, 123: {'code': '2', 'name': 'Public sector governance'}, 124: {'code': '9', 'name': 'Urban development'}, 125: {'code': '10', 'name': 'Rural development'}, 126: {'code': '10', 'name': 'Rural development'}, 127: {'code': '2', 'name': 'Public sector governance'}, 128: {'code': '9', 'name': 'Urban development'}, 129: {'code': '6', 'name': 'Social protection and risk management'}, 130: {'code': '1', 'name': ''}, 131: {'code': '7', 'name': ''}, 132: {'code': '9', 'name': 'Urban development'}, 133: {'code': '11', 'name': 'Environment and natural resources management'}, 134: {'code': '6', 'name': 'Social protection and risk management'}, 135: {'code': '2', 'name': 'Public sector governance'}, 136: {'code': '6', 'name': 'Social protection and risk management'}, 137: {'code': '8', 'name': 'Human development'}, 138: {'code': '11', 'name': ''}, 139: {'code': '10', 'name': ''}, 140: {'code': '5', 'name': 'Trade and integration'}, 141: {'code': '2', 'name': 'Public sector governance'}, 142: {'code': '11', 'name': 'Environment and natural resources management'}, 143: {'code': '4', 'name': ''}, 144: {'code': '11', 'name': ''}, 145: {'code': '11', 'name': 'Environment and natural resources management'}, 146: {'code': '9', 'name': 'Urban development'}, 147: {'code': '6', 'name': 'Social protection and risk management'}, 148: {'code': '11', 'name': 'Environment and natural resources management'}, 149: {'code': '10', 'name': ''}, 150: {'code': '4', 'name': 'Financial and private sector development'}, 151: {'code': '2', 'name': 'Public sector governance'}, 152: {'code': '8', 'name': ''}, 153: {'code': '10', 'name': ''}, 154: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 155: {'code': '10', 'name': 'Rural development'}, 156: {'code': '11', 'name': ''}, 157: {'code': '11', 'name': 'Environment and natural resources management'}, 158: {'code': '1', 'name': 'Economic management'}, 159: {'code': '1', 'name': 'Economic management'}, 160: {'code': '9', 'name': ''}, 161: {'code': '2', 'name': ''}, 162: {'code': '11', 'name': 'Environment and natural resources management'}, 163: {'code': '8', 'name': 'Human development'}, 164: {'code': '9', 'name': ''}, 165: {'code': '11', 'name': 'Environment and natural resources management'}, 166: {'code': '10', 'name': 'Rural development'}, 167: {'code': '5', 'name': 'Trade and integration'}, 168: {'code': '8', 'name': 'Human development'}, 169: {'code': '2', 'name': ''}, 170: {'code': '4', 'name': 'Financial and private sector development'}, 171: {'code': '2', 'name': 'Public sector governance'}, 172: {'code': '3', 'name': ''}, 173: {'code': '1', 'name': 'Economic management'}, 174: {'code': '2', 'name': 'Public sector governance'}, 175: {'code': '10', 'name': 'Rural development'}, 176: {'code': '3', 'name': 'Rule of law'}, 177: {'code': '9', 'name': 'Urban development'}, 178: {'code': '2', 'name': 'Public sector governance'}, 179: {'code': '11', 'name': 'Environment and natural resources management'}, 180: {'code': '8', 'name': 'Human development'}, 181: {'code': '11', 'name': 'Environment and natural resources management'}, 182: {'code': '11', 'name': 'Environment and natural resources management'}, 183: {'code': '4', 'name': ''}, 184: {'code': '8', 'name': 'Human development'}, 185: {'code': '8', 'name': 'Human development'}, 186: {'code': '4', 'name': 'Financial and private sector development'}, 187: {'code': '8', 'name': 'Human development'}, 188: {'code': '8', 'name': 'Human development'}, 189: {'code': '6', 'name': 'Social protection and risk management'}, 190: {'code': '2', 'name': 'Public sector governance'}, 191: {'code': '5', 'name': 'Trade and integration'}, 192: {'code': '11', 'name': ''}, 193: {'code': '11', 'name': 'Environment and natural resources management'}, 194: {'code': '11', 'name': 'Environment and natural resources management'}, 195: {'code': '2', 'name': 'Public sector governance'}, 196: {'code': '8', 'name': 'Human development'}, 197: {'code': '8', 'name': 'Human development'}, 198: {'code': '2', 'name': 'Public sector governance'}, 199: {'code': '5', 'name': 'Trade and integration'}, 200: {'code': '9', 'name': 'Urban development'}, 201: {'code': '11', 'name': 'Environment and natural resources management'}, 202: {'code': '2', 'name': ''}, 203: {'code': '2', 'name': 'Public sector governance'}, 204: {'code': '6', 'name': 'Social protection and risk management'}, 205: {'code': '9', 'name': 'Urban development'}, 206: {'code': '5', 'name': 'Trade and integration'}, 207: {'code': '5', 'name': 'Trade and integration'}, 208: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 209: {'code': '6', 'name': ''}, 210: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 211: {'code': '8', 'name': 'Human development'}, 212: {'code': '10', 'name': 'Rural development'}, 213: {'code': '8', 'name': 'Human development'}, 214: {'code': '8', 'name': 'Human development'}, 215: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 216: {'code': '11', 'name': 'Environment and natural resources management'}, 217: {'code': '6', 'name': 'Social protection and risk management'}, 218: {'code': '8', 'name': 'Human development'}, 219: {'code': '10', 'name': 'Rural development'}, 220: {'code': '2', 'name': 'Public sector governance'}, 221: {'code': '11', 'name': 'Environment and natural resources management'}, 222: {'code': '5', 'name': 'Trade and integration'}, 223: {'code': '11', 'name': 'Environment and natural resources management'}, 224: {'code': '2', 'name': 'Public sector governance'}, 225: {'code': '2', 'name': 'Public sector governance'}, 226: {'code': '10', 'name': ''}, 227: {'code': '2', 'name': 'Public sector governance'}, 228: {'code': '11', 'name': 'Environment and natural resources management'}, 229: {'code': '4', 'name': 'Financial and private sector development'}, 230: {'code': '11', 'name': 'Environment and natural resources management'}, 231: {'code': '2', 'name': ''}, 232: {'code': '8', 'name': ''}, 233: {'code': '11', 'name': ''}, 234: {'code': '7', 'name': ''}, 235: {'code': '11', 'name': ''}, 236: {'code': '8', 'name': 'Human development'}, 237: {'code': '3', 'name': ''}, 238: {'code': '8', 'name': 'Human development'}, 239: {'code': '10', 'name': ''}, 240: {'code': '8', 'name': 'Human development'}, 241: {'code': '11', 'name': ''}, 242: {'code': '10', 'name': 'Rural development'}, 243: {'code': '2', 'name': 'Public sector governance'}, 244: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 245: {'code': '8', 'name': 'Human development'}, 246: {'code': '6', 'name': 'Social protection and risk management'}, 247: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 248: {'code': '10', 'name': 'Rural development'}, 249: {'code': '10', 'name': 'Rural development'}, 250: {'code': '11', 'name': 'Environment and natural resources management'}, 251: {'code': '8', 'name': 'Human development'}, 252: {'code': '9', 'name': 'Urban development'}, 253: {'code': '9', 'name': 'Urban development'}, 254: {'code': '6', 'name': 'Social protection and risk management'}, 255: {'code': '11', 'name': 'Environment and natural resources management'}, 256: {'code': '10', 'name': 'Rural development'}, 257: {'code': '6', 'name': 'Social protection and risk management'}, 258: {'code': '8', 'name': 'Human development'}, 259: {'code': '11', 'name': 'Environment and natural resources management'}, 260: {'code': '10', 'name': 'Rural development'}, 261: {'code': '6', 'name': 'Social protection and risk management'}, 262: {'code': '8', 'name': 'Human development'}, 263: {'code': '11', 'name': 'Environment and natural resources management'}, 264: {'code': '4', 'name': 'Financial and private sector development'}, 265: {'code': '2', 'name': 'Public sector governance'}, 266: {'code': '10', 'name': 'Rural development'}, 267: {'code': '8', 'name': 'Human development'}, 268: {'code': '4', 'name': 'Financial and private sector development'}, 269: {'code': '6', 'name': 'Social protection and risk management'}, 270: {'code': '2', 'name': 'Public sector governance'}, 271: {'code': '4', 'name': 'Financial and private sector development'}, 272: {'code': '6', 'name': 'Social protection and risk management'}, 273: {'code': '4', 'name': 'Financial and private sector development'}, 274: {'code': '8', 'name': 'Human development'}, 275: {'code': '11', 'name': 'Environment and natural resources management'}, 276: {'code': '10', 'name': ''}, 277: {'code': '11', 'name': 'Environment and natural resources management'}, 278: {'code': '7', 'name': ''}, 279: {'code': '11', 'name': 'Environment and natural resources management'}, 280: {'code': '6', 'name': 'Social protection and risk management'}, 281: {'code': '6', 'name': ''}, 282: {'code': '1', 'name': 'Economic management'}, 283: {'code': '4', 'name': 'Financial and private sector development'}, 284: {'code': '10', 'name': 'Rural development'}, 285: {'code': '8', 'name': 'Human development'}, 286: {'code': '10', 'name': 'Rural development'}, 287: {'code': '5', 'name': 'Trade and integration'}, 288: {'code': '8', 'name': 'Human development'}, 289: {'code': '11', 'name': 'Environment and natural resources management'}, 290: {'code': '6', 'name': 'Social protection and risk management'}, 291: {'code': '10', 'name': 'Rural development'}, 292: {'code': '11', 'name': 'Environment and natural resources management'}, 293: {'code': '5', 'name': 'Trade and integration'}, 294: {'code': '10', 'name': 'Rural development'}, 295: {'code': '8', 'name': 'Human development'}, 296: {'code': '11', 'name': ''}, 297: {'code': '8', 'name': 'Human development'}, 298: {'code': '4', 'name': 'Financial and private sector development'}, 299: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 300: {'code': '2', 'name': 'Public sector governance'}, 301: {'code': '1', 'name': 'Economic management'}, 302: {'code': '2', 'name': 'Public sector governance'}, 303: {'code': '5', 'name': ''}, 304: {'code': '10', 'name': ''}, 305: {'code': '5', 'name': 'Trade and integration'}, 306: {'code': '8', 'name': 'Human development'}, 307: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 308: {'code': '4', 'name': ''}, 309: {'code': '7', 'name': ''}, 310: {'code': '10', 'name': 'Rural development'}, 311: {'code': '10', 'name': 'Rural development'}, 312: {'code': '10', 'name': 'Rural development'}, 313: {'code': '4', 'name': 'Financial and private sector development'}, 314: {'code': '10', 'name': 'Rural development'}, 315: {'code': '11', 'name': 'Environment and natural resources management'}, 316: {'code': '11', 'name': 'Environment and natural resources management'}, 317: {'code': '8', 'name': 'Human development'}, 318: {'code': '8', 'name': 'Human development'}, 319: {'code': '10', 'name': 'Rural development'}, 320: {'code': '10', 'name': 'Rural development'}, 321: {'code': '11', 'name': 'Environment and natural resources management'}, 322: {'code': '9', 'name': 'Urban development'}, 323: {'code': '8', 'name': ''}, 324: {'code': '2', 'name': 'Public sector governance'}, 325: {'code': '5', 'name': ''}, 326: {'code': '10', 'name': ''}, 327: {'code': '6', 'name': ''}, 328: {'code': '4', 'name': 'Financial and private sector development'}, 329: {'code': '8', 'name': ''}, 330: {'code': '10', 'name': 'Rural development'}, 331: {'code': '8', 'name': ''}, 332: {'code': '6', 'name': 'Social protection and risk management'}, 333: {'code': '5', 'name': 'Trade and integration'}, 334: {'code': '11', 'name': 'Environment and natural resources management'}, 335: {'code': '8', 'name': 'Human development'}, 336: {'code': '11', 'name': ''}, 337: {'code': '11', 'name': 'Environment and natural resources management'}, 338: {'code': '11', 'name': ''}, 339: {'code': '4', 'name': 'Financial and private sector development'}, 340: {'code': '4', 'name': 'Financial and private sector development'}, 341: {'code': '10', 'name': ''}, 342: {'code': '11', 'name': ''}, 343: {'code': '11', 'name': 'Environment and natural resources management'}, 344: {'code': '10', 'name': 'Rural development'}, 345: {'code': '11', 'name': ''}, 346: {'code': '1', 'name': ''}, 347: {'code': '10', 'name': 'Rural development'}, 348: {'code': '3', 'name': ''}, 349: {'code': '11', 'name': 'Environment and natural resources management'}, 350: {'code': '8', 'name': ''}, 351: {'code': '11', 'name': 'Environment and natural resources management'}, 352: {'code': '1', 'name': 'Economic management'}, 353: {'code': '11', 'name': 'Environment and natural resources management'}, 354: {'code': '11', 'name': 'Environment and natural resources management'}, 355: {'code': '11', 'name': ''}, 356: {'code': '11', 'name': 'Environment and natural resources management'}, 357: {'code': '1', 'name': 'Economic management'}, 358: {'code': '4', 'name': 'Financial and private sector development'}, 359: {'code': '11', 'name': 'Environment and natural resources management'}, 360: {'code': '10', 'name': 'Rural development'}, 361: {'code': '11', 'name': 'Environment and natural resources management'}, 362: {'code': '10', 'name': 'Rural development'}, 363: {'code': '8', 'name': ''}, 364: {'code': '6', 'name': 'Social protection and risk management'}, 365: {'code': '2', 'name': ''}, 366: {'code': '7', 'name': ''}, 367: {'code': '10', 'name': 'Rural development'}, 368: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 369: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 370: {'code': '7', 'name': 'Social dev/gender/inclusion'}, 371: {'code': '2', 'name': 'Public sector governance'}, 372: {'code': '9', 'name': 'Urban development'}, 373: {'code': '6', 'name': 'Social protection and risk management'}, 374: {'code': '6', 'name': 'Social protection and risk management'}, 375: {'code': '1', 'na

In [79]:
df=pd.DataFrame(dict_name)

In [80]:
df

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
code,11,6,6,7,4,6,4,8,7,2,...,2,11,7,5,8,7,8,6,10,4
name,,Social protection and risk management,Social protection and risk management,Social dev/gender/inclusion,Financial and private sector development,,Financial and private sector development,,,Public sector governance,...,Public sector governance,,Social dev/gender/inclusion,,,Social dev/gender/inclusion,Human development,,Rural development,Financial and private sector development

In [67]:
df.index

Index(['code', 'name'], dtype='object')

In [81]:
temp_df=df.reset_index()

In [82]:
temp_df

,index,0,1,2,3,4,5,6,7,8,...,490,491,492,493,494,495,496,497,498,499
0,code,11,6,6,7,4,6,4,8,7,...,2,11,7,5,8,7,8,6,10,4
1,name,,Social protection and risk management,Social protection and risk management,Social dev/gender/inclusion,Financial and private sector development,,Financial and private sector development,,,...,Public sector governance,,Social dev/gender/inclusion,,,Social dev/gender/inclusion,Human development,,Rural development,Financial and private sector development

In [84]:
temp_df.T

          0                                         1
index  code                                      name
0        11
1         6     Social protection and risk management
2         6     Social protection and risk management
3         7               Social dev/gender/inclusion
...     ...                                       ...
495       7               Social dev/gender/inclusion
496       8                         Human development
497       6
498      10                         Rural development
499       4  Financial and private sector development

[501 rows x 2 columns]

In [85]:
df

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
code,11,6,6,7,4,6,4,8,7,2,...,2,11,7,5,8,7,8,6,10,4
name,,Social protection and risk management,Social protection and risk management,Social dev/gender/inclusion,Financial and private sector development,,Financial and private sector development,,,Public sector governance,...,Public sector governance,,Social dev/gender/inclusion,,,Social dev/gender/inclusion,Human development,,Rural development,Financial and private sector development

In [86]:
temp2_df=df.T

In [88]:
temp2_df

    code                                      name
0     11
1      6     Social protection and risk management
2      6     Social protection and risk management
3      7               Social dev/gender/inclusion
4      4  Financial and private sector development
..   ...                                       ...
495    7               Social dev/gender/inclusion
496    8                         Human development
497    6
498   10                         Rural development
499    4  Financial and private sector development

[500 rows x 2 columns]

In [127]:
themes_df=temp2_df.groupby(['name']).count().sort_values(by='code', ascending=False)

In [174]:
themes_df.columns=['Total Projects of the Named Theme']

In [175]:
themes_df.head(10)

                                              Total Projects of the Named Theme
name
                                                                            122
Environment and natural resources management                                 65
Rural development                                                            61
Human development                                                            53
Public sector governance                                                     45
Social protection and risk management                                        41
Social dev/gender/inclusion                                                  31
Financial and private sector development                                     30
Trade and integration                                                        21
Urban development                                                            17

In [160]:
themes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries,  to Rule of law
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    12 non-null     int64
dtypes: int64(1)
memory usage: 192.0+ bytes

In [177]:
#In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [166]:
missing_filled_df=temp2_df

In [167]:
missing_filled_df=temp2_df.replace('','No Name')

In [168]:
missing_filled_df=missing_filled_df.groupby(['name']).count().sort_values(by='code', ascending=False)

In [171]:
missing_filled_df.columns=['total projects of the named theme']

In [172]:
missing_filled_df

                                              total projects of the named theme
name
No Name                                                                     122
Environment and natural resources management                                 65
Rural development                                                            61
Human development                                                            53
Public sector governance                                                     45
Social protection and risk management                                        41
Social dev/gender/inclusion                                                  31
Financial and private sector development                                     30
Trade and integration                                                        21
Urban development                                                            17
Economic management                                                          10
Rule of law                                                                   4